<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.foodamigo.customer">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".module.app.singleton.CustomerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="DATABASE"
            android:value="delivery_customer.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="model" />

        <activity
            android:name=".module.app.view.activity.LaunchActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".module.app.view.activity.HomeActivity" />

        <activity android:name=".module.app.view.activity.FormActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".module.app.view.activity.HomeActivity" />
        </activity>

        <receiver android:name=".module.app.listener.VerificationListener">
            <intent-filter>
                <action android:name="com.matesnetwork.cognalys" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.matesnetwork.Cognalys.VerifyMobile"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity android:name=".module.app.view.activity.EnterMobileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".module.app.view.activity.HomeActivity" />
        </activity>

        <activity android:name=".module.order.view.component.CheckoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".module.app.view.activity.HomeActivity" />
        </activity>

    </application>

</manifest>
